    {% include 'template.html' %}

    <!-- BOKEH -->
    {{boke_js}}
    {{boke_css}}
    {{title}}
</head>
<body>
    <div align="center">
        <h1>BEHAVE REPORT</h1>
        <h3>Feature: {{feature}}</h3>
            <br>
            {{graph}}
    </div>
    cenarios failed: {{failed}}<br>
    cenarios skipped: {{skipped}}<br>
    {% for line in FILO %}
        {{line}}
    {% endfor %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
              ERRORS</a>
          </h4>
     </div>
     <div id="collapse1" class="panel-collapse collapse in">
     {% for line in errors %}
         {{line}}
     {% endfor %}
    </body>
</html>
